# Compiled class files
*.class

# Log files
*.log

# Serialisierte Datendateien
*.dat

# IDE files
.idea/
.vscode/
*.iml
*.iws
*.ipr
.settings/
.classpath
.project

# OS specific files
.DS_Store
Thumbs.db 